/* FrontPage.css */

.frontpage-container {
  text-align: center;
  padding: 50px;
}

.welcome-text {
  font-size: 36px;
  margin-bottom: 20px;
  color: #3498db;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #27ae60;
}
